.main-content {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    position: relative;
    transition: margin .1s ease-in;
    height: 100%;
}

.project-header {
    height: auto;
    padding: 8px 4px 4px 8px;
    position: relative;
    border-bottom: 1px solid rgb(170, 170, 170);
    display: flex;
    align-items: center;
}

.updateform {
    margin-left: 20px;
    margin-top: 10px;
}

.project-header h1 {
    color: #172b4d;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    padding: 0 12px;
}

.boards-canvas {
    position: relative;
    flex-grow: 1;
    height: 100%;
    max-width: 100%;
}

.board {
    user-select: none;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.list-wrapper {
    background-color: rgba(0,0,0,.05);
    width: 272px;
    margin: 8px 8px;
    margin-right: 4px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    border-radius: 3px;
    height: auto;
    min-height: 32px;
    padding: 4px;
    justify-content: center;
    cursor: pointer;
}

.ticket-wrapper {
    box-shadow: rgba(0,0,0,0.3) 0 0 10px;
    width: 272px;
    margin: 8px 8px;
    margin-right: 4px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    border-radius: 3px;
    height: auto;
    min-height: 32px;
    padding: 4px;
    justify-content: center;
}


.list-header {
    flex: 0 0 auto;
    padding: 5px 5px;
    padding-right: 8px;
    position: relative;
    list-style: none;
    font-weight: 600;
    display: flex;
}

.list-menu {
    color: grey;
    width: 220px;
    display: flex;
    justify-content: flex-end;
}

.issues {
    display: flex;
    background: #fff;
    margin: 5px;
    box-shadow: 0 8px 16px -4px rgba(9,30,66,.25),0 0 0 1px rgba(9,30,66,.08);
    border-radius: 3px;
}


.issueitem {
    padding: 2px;
}

.checkbox {
    display: flex;
    width: 200px;
    justify-content: flex-end;
}

.pop-over {
    position: fixed;
    display: flex;
    width: 200px;
    background: #fff;
    z-index: 70;
    display: flex;
    border-radius: 3px;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(95vh - 90vh - 25px);
    margin-left: 50px;
    font-weight: 500;
    box-shadow: 0 8px 16px -4px rgba(9,30,66,.25),0 0 0 1px rgba(9,30,66,.08);
}

.pop-over:hover {
    background-color: rgba(0,0,0,.10);
}


.list-wrapper:hover {
    background-color: rgba(0,0,0,.10);
}

.add-list {
    color: #172b4d;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    margin: 4px 4px;
}

.add-card {
    color: #172b4d;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    margin: 12px;
    height: 30px;
    border-radius: 3px;
}

.add-card:hover {
    background-color: rgba(0,0,0,.10);
}

.add-list a {
    text-decoration: none;
}

.placeholder {
    padding: 6px 8px;
    transition: color 85ms ease-in;
    text-decoration: none;
}

.icon {
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    width: 20px;
    padding: 6px 8px;
}

.addingListInput {
    display: inline-block;
}

.input {
    outline: none;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(27, 58, 112, 0.25);
    background-color: #fafbfc;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 3px;
    display: block;
    line-height: 20px;
    margin-bottom: 12px;
    margin-left: 6px;
    padding: 6px 12px;
}

.addbutton {
    margin: 3px 0px 3px 6px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: #026AA7;
    border: #026AA7;
    border-radius: 4px;
}

.addbutton:hover {
    background-color: #2489c4;
}

.deleteimage {
    height: 20px;
    margin-left: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.closepopoversection {
    width: 130px;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.closepopover {
    height: 20px;
    margin-left: 10px;
    margin-right: 5px;
    cursor: pointer;
}