.home-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.all-boards {
    margin: 40px 45px 0;
    width: 100%;
    max-width: 700px;
    position: sticky;
}

.workspace-title {
    font-size: 24px;
    font-weight: 600;
    font-size: 24px;
}

.introduction {
    font-weight: 600;
    color: white;
    background-color: #026AA7;
}

.introduction h3 {
    padding: 3px;
    font-size: 20px;
}

.welcome {
    padding: 5px;
}

.boards-section {
    border: 1px solid rgb(197, 197, 197);
    margin-top: 20px;
}

.boards-section-options {
    margin-top: 10px;
    margin-bottom: 5px;
}

.boards-section-item{
    margin: 2px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    height: 27px;
}

.boards-section-item:hover {
    background: rgb(190, 190, 190);
}