.form-inline {
    margin-left: 6px;
}

.navbar {
    background-color: #001d2e;
    width: 100%;
    padding: 3px 0px 2px 0px;
}

.btn {
    border-radius: 0;
    outline: none;
}



.navbutton{
    margin: 0;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-image: linear-gradient(#2d8cec,#16b);
    border: #026AA7;
    outline: none;
}

.navbutton:hover {
    background-image: linear-gradient(#1f64a8,rgb(8, 54, 100));
}


.plus {
    height: 15px;
}

.useractions {
    color: white;
    font-size: 16px;
}

.userbutton {
    color: #026AA7;
    font-weight: 550;
}

#dropdown-basic-button {
    font-weight: 600;
    background-image: linear-gradient(#2d8cec,#16b);
    border: #026AA7;
    outline: none;
}

#dropdown-basic-button:hover {
    background-image: linear-gradient(#1f64a8,rgb(8, 54, 100));
}